<mat-toolbar color="primary" class="toolbarTop">
  <mat-icon svgIcon="scheduler"></mat-icon>
  <a mat-button><h1>Osan Scheduler</h1></a>
  <span class="flex-spacer"></span>
  <a mat-button *ngIf="authService.isAuthenticated" (click)="logout()">Log Out</a>
  <a mat-button *ngIf="!authService.isAuthenticated" routerLink="/login">Log In</a>
  <a mat-icon-button routerLink="/help"><mat-icon>help</mat-icon></a>
</mat-toolbar>
<mat-sidenav-container class="main-context">
  <mat-sidenav #sidenav mode="side" opened class="sidenav"
  [fixedInViewport]="true" [fixedBottomGap]="30" [fixedTopGap]="50">
    <ng-container *ngFor="let head of this.menuService.MenuList">
      <button mat-flat-button color="Primary" class="menu-buttons"
        style="cursor:default">{{head.title}}</button>
      <ng-container *ngFor="let item of head.menus">
        <button mat-raised-button color="accent" class="menu-buttons" 
          [routerLink]="item.link">
          {{item.title}}
        </button>
      </ng-container>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content style="overflow: visible;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar color="primary" class="toolbarBottom">
  <h5 style="font-size: 10pt;">{{authService.statusMessage}}</h5>
  <span class="flex-spacer"></span>
  <mat-progress-bar *ngIf="authService.showProgress" 
    class="progress-bar"
    color="accent"
    mode="indeterminate"></mat-progress-bar>
</mat-toolbar>